body{
    background-color: beige;
}
li{
    color: blueviolet;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    
    
    
}
ul{
    text-align: center;
}